[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "readyomics"]
	path = readyomics
	url = https://github.com/lmartinezgili/readyomics
